*{
    margin: 0;
    padding: 0;
}

.clr{
    clear: both;
}
.text-center{
    text-align: center;
}
.main{
    background-color: #f0f2f5;
    padding: 72px 0 110px;
}
.main .container{
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
}
.main .container .left{
    width: 580px;
    padding-right: 32px;
    float: left;
    box-sizing: border-box;
}
.main .container .right{
    width: 400px;
    float: left;
}
.left img{
    height: 106px;
    margin: -28px;
    padding: 112px 0 16px;
}
.left h2{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #1c1e21;
}
.right .form{
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1)
}
.right .form input{
    width: 100%;
    padding: 14px 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 17px;
}
.right .form input.submit_button{
    background-color: #166fe5;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
.text-center a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding-top: 10px;
    display: inline-block;
}
.form hr{
    border: 0;
    height: 1px;
    background-color: #dadde1;
    margin: 20px 0;
}
.button a{
    font-size: 17px;
    text-decoration: none;
    border-radius: 7px;
    background: #42b72a;
    padding: 16px;
    color: #fff;
    font-weight: bold;
}
.right p{
    text-align: center;
    margin-top: 20px;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
}
.right p a{
    text-decoration: none;
    font-weight: bold;
    color: #000;

}
.hidden{ 
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 30px;
    display: none;
}
.hidden table{
    width: 50%;
    margin: 0 auto;
}
.show{
    display: block;
}